<h1>Type Agency Name and Password</h1>

<% if flash.has?(:login_errors) %>
  <p class="flash-error"><%= flash[:login_errors] %></p>
<% end %>

<form action="/sessions" method="post">
  <div class="form-group">
    <label for="name">Agency Name:</label>
    <input type="text" class="form-control" name="username" id="name" placeholder="Agency">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
  </div>
  <input type="hidden" name="user_type" value="Agency">
  <button type="submit" class="btn btn-default">Log In</button>
</form>
