<h1>Add New Vacancy</h1>

<% if flash.has?(:vacancy_errors) %>
  <p class="flash-error"><%= flash[:vacancy_errors] %></p>
<% end %>

<form action="/vacancies" method="post">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" name="vacancy[title]" id="title" placeholder="Title">
  </div>

  <div class="form-group">
    <label for="description">Description:</label><br>
    <textarea name="vacancy[description]" id="description" placeholder="Description" rows="6" cols="60"></textarea>
  </div>

  <div class="form-group">
    <label for="company">Company:</label>
    <input type="text" class="form-control" name="vacancy[company]" id="company" placeholder="Company">
  </div>

  <div class="form-group">
    <label for="phone">Companie's Phone Number:</label>
    <input type="text" class="form-control" name="vacancy[company_phone]" id="phone" placeholder="Company Phone Number">
  </div>

  <div class="form-group">
    <label for="salary">Salary:</label>
    <input type="number" class="form-control" name="vacancy[salary]" id="salary" placeholder="Salary">
  </div>


  <button type="submit" class="btn btn-default">Create</button>
</form>
