

section {
  padding: 10px;
  margin-top: 20px;
  background-color: #CECEF6;
  text-align: center;
}

/*------------------------ NAVBAR ---------------------------*/

.my_navbar {
  /*position: absolute;*/
  width: 100%;
  margin: 0 auto;
  height: 40px;
  border-bottom: 2px solid black;
}

.left-bar {
  float: left;
}

.right-bar {
  float: right;
}

.right-bar h4 {
  display: inline-block;
  margin: 0 10px 0 0;
  color: green;
}

/*------------------------ FORMS ---------------------------*/

.form-control {
  width: 500px;
  margin: 0 auto;
}

/*------------------------ FLASH MESSAGES ---------------------------*/

.flash {
  color: red;
}

/*------------------------ FOOTER ---------------------------*/

footer {
  padding: 5px;
  text-align: right;
  font-size: 0.8em;
  background-color: #C3C3F0;
}
