<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recruiting Agencies</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
  </head>
  <body>
    <div class="container">
      <section>

        <div class="my_navbar">
          <div class="left-bar">
            <a href="/" class="btn btn-default" role="button">Main Page</a>

            <% if logged_in_agency? %>
              <a href="/recruiters" class="btn btn-default" role="button">Recruiters</a>
              <a href="/vacancies" class="btn btn-default" role="button">Your Vacancies</a>
              <a href="/vacancies/all" class="btn btn-default" role="button">All Vacancies</a>
              <a href="/requests" class="btn btn-default" role="button">Requests</a>
            <% end %>

            <% if logged_in_recruiter? %>
              <a href="/vacancies" class="btn btn-default" role="button">Vacancies</a>
              <a href="/recruiters" class="btn btn-default" role="button">Recruiters</a>
            <% end %>
          </div>
          <div class="right-bar">
            <% if logged_in? %>
              <h4><%= current_user.username %></h4>
              <a href="/logout" class="btn btn-default" role="button">Log Out</a>
            <% else %>
              <a href="/agency/login" class="btn btn-default" role="button">Log In (Agency)</a>
              <a href="/recruiter/login" class="btn btn-default" role="button">Log In (Recruiter)</a>
              <a href="/agencies/signup" class="btn btn-default" role="button">Sign Up (Agency)</a>
            <% end %>
          </div>
        </div>

        <%= yield %>
      </section>

      <footer>
        &copy 2017 Aleksandr Rogachev
      </footer>
    </div>
  </body>
</html>
